.cartin{
    width: 90%;
    margin:  auto;
    height: 100vh;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(180deg, #000000 0%, #e1ffea2b 60%);
    flex-wrap: wrap;
     
}

.cartin .cartin-format-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 20px;
     
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
 }
 .cartin .cartin-format-main p{
      font-weight: 600;
 }

 .cartin .content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap ;
     
     
     margin-bottom: 10px;
     padding: 10px;
     border-radius: 12px;
 }
 .content img{
    width: 72px;
 }
 .content p{
    font-weight: 600;
 }

 .cartin .cartin-format-main p{
    font-weight: 600;
 }

 .cartin hr{
    margin: 10px 0px;
 }

 .cartin .cartin-remove-icon{
    width: 20px;
    cursor: pointer;
     filter: invert(1);
    transition: width 0.3s;
  }

 .cartin .cartin-remove-icon:hover{
    width: 22px;

 }
 
 .cartin .cartin-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 50px;
     height: 50px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #e2b24c;
    color: #000000;
    border: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
 }
 .cartin .cartin-quantity:hover{
    background-color: #ffffff;
    color: #e2b24c;
 }