.item{
    padding-left: 10px;
    padding-right: 10px;
}
.item img{
   max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgb(255, 244, 244);
    border-radius: 5px;
    cursor: pointer;

}
.item:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: #a2a0a0;
    margin-top: 10px;
    text-align: center;
}
.price span {
    text-decoration: line-through;
    color: #999;
}
.price p{
    color: #ffffff;
    margin: 5px 0;
}